body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

button{
    border: none;
    padding: 10px 50px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    margin-left: 30px;
    animation: blink 3s infinite;
    cursor: pointer;
}

@keyframes blink{

    0%{
        opacity: 1;
    }
    5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
   
}